# =============================================================================
# Git global configuration
# ------------------------
# https://www.git-scm.com/book/en/v2/Customizing-Git-Git-Configuration
# =============================================================================

[user]
	name = xeho91
	email = xeho91@pm.me
	signinkey = <insert your GPG key here>

[gpg]
	program = gpg

[pager]
	program = bat

[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true

[core]
	editor = vim
	autocrlf = false
	whitespace = trailing-space, space-before-tab

[color]
	ui = true

[rerere]
	enabled = true

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"

[alias]
	# Add
	a = add
	all = add --all
	# Status
	st = status --short --branch
	# Commit
	cm = commit --message
	ca = commit --amend
	cane = commit --amend --no-edit
	# Branch
	br = branch
	bd = branch -D
	# Checkout
	co = checkout
	cb = checkout -b
	# Diff
	df = diff
	dfc = diff --cached
	# Log
	lg = log --oneline --graph --decorate -m
	lga = log --oneline --graph --decorate --all
	last = log -1 HEAD
	# Pull
	pl = pull
	plro = pull --rebase origin master
	# Push
	ps = push
	psf = push --force-with-lease
	pssu = push --set-upstream origin HEAD
	# Reset
	undo = reset --soft HEAD^
	uall = reset .
	# Fetch
	f = fetch
	# Stash
	sta = stash
	stap = stash apply
	# Rebase
	rbc = rebase --continue
	rbs = rebase --skip
	rba = rebase --abort
