[user]
	signingkey = 4732757725FFA780
	name = xeho91
	email = xeho91@pm.me

[gpg]
	program = gpg

[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true

[core]
	editor = vim

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = true

[rerere]
	enabled = true

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
